<!DOCTYPE HTML>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One|Six+Caps" rel="stylesheet">
    <script src="http://www.webglearth.com/v2/api.js"></script>
    <title>ISS Live Positioning</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
  
    <div id="earth_div"></div>
    <div id="ISS_info"></div>
    <div id="textik">International Space Station Live Tracker</div>
    <a href="about.html"><div class="linking_pages">About</div></a>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="scripts.js"></script>
  </body>
</html>